<div class="container">
	<p id="notice"><%= notice %></p>

<div class="row-fluid">
	<div class="span8 offset1">
<p>
  <strong>Name:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @topic.description %>
</p>

<p>
	<strong>Created at:</strong>
	<%= @topic.created_at %>
</p>

<p>
	<strong>Check me out:</strong>
	<%= image_tag(@topic.img, class: "img img-circle") %>
</p>
</div>
</div>


<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>

</div>
